<%= form_for(@vehiculo) do |f| %>
  <% if @vehiculo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@vehiculo.errors.count, "error") %> prohibited this vehiculo from being saved:</h2>

      <ul>
      <% @vehiculo.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :placa %><br />
    <%= f.text_field :placa %>
  </div>
  <div class="field">
    <%= f.label :equipo %><br />
    <%= f.text_field :equipo %>
  </div>
  <div class="field">
    <%= f.label :ano %><br />
    <%= f.text_field :ano %>
  </div>
  <div class="field">
    <%= f.label :denominacion %><br />
    <%= f.text_field :denominacion %>
  </div>
  <div class="field">
    <%= f.label :central_id %><br />
    <%= f.text_field :central_id %>
  </div>
  <div class="field">
    <%= f.label :usuario_id %><br />
    <%= f.text_field :usuario_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
