<p id="notice"><%= notice %></p>

<p>
  <b>Placa:</b>
  <%= @vehiculo.placa %>
</p>

<p>
  <b>Equipo:</b>
  <%= @vehiculo.equipo %>
</p>

<p>
  <b>Ano:</b>
  <%= @vehiculo.ano %>
</p>

<p>
  <b>Denominacion:</b>
  <%= @vehiculo.denominacion %>
</p>

<p>
  <b>Central:</b>
  <%= @vehiculo.central_id %>
</p>

<p>
  <b>Usuario:</b>
  <%= @vehiculo.usuario_id %>
</p>


<%= link_to 'Edit', edit_vehiculo_path(@vehiculo) %> |
<%= link_to 'Back', vehiculos_path %>
