<h1>Página Principal</h1>

<%= link_to "Centrales", centrals_path %> <br>
<%= link_to "Usuarios", usuarios_path %> <br>
<%= link_to "Vehiculos", vehiculos_path %> <br>
<%= link_to "Repuestos", repuestos_path %> <br>
<%= link_to "Avisos", avisos_path %> <br>
<%= link_to "Correctivos", correctivos_path %> <br>
<%= link_to "Preventivos", preventivos_path %> <br>
<%= link_to "Tipo Mantenimientos", tipo_mants_path %> <br>
