<p id="notice"><%= notice %></p>

<p>
  <b>Nombre:</b>
  <%= @usuario.nombre %>
</p>

<p>
  <b>Tlf:</b>
  <%= @usuario.tlf %>
</p>

<p>
  <b>Correo:</b>
  <%= @usuario.correo %>
</p>


<%= link_to 'Edit', edit_usuario_path(@usuario) %> |
<%= link_to 'Back', usuarios_path %>
